<?xml version='1.0' encoding='utf-8'?>
<widget id="app.augheyscreens.maguirecaolan" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Aughey Screens Application</name>
    <description>Application for Aughey Screens Monaghan, sales application to assist staff and customers alike</description>
    <author email="caolanmichaelmaguire@gmail.com" href="https://augheyscreens.app">
        Caolán Maguire
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Platform-specific configurations -->
    <platform name="android">
        <preference name="AndroidTargetSdkVersion" value="33" />
        <preference name="AndroidLaunchMode" value="singleTop" />
    </platform>
</widget>
